$dark-color-palette: (
  background: hsl(240, 7%, 11%),
  foreground: hsl(240, 4%, 98%),
  muted: hsl(240, 4%, 17%),
  muted-foreground: hsl(240, 4%, 66%),
  border: hsl(240, 4%, 17%),
  primary: hsl(342, 100%, 74%),
  primary-foreground: hsl(240, 4%, 98%),
  secondary: hsl(240, 4%, 17%),
  secondary-foreground: hsl(240, 4%, 98%),
  accent: hsl(240, 4%, 17%),
  accent-foreground: hsl(240, 4%, 98%),
  destructive: hsl(342, 100%, 74%),
  destructive-foreground: hsl(240, 7%, 11%),
  positive: hsl(162, 52%, 53%),
  positive-foreground: hsl(240, 7%, 11%),
);

$light-color-palette: (
  background: hsl(0, 0%, 100%),
  foreground: hsl(240, 7%, 11%),
  muted: hsl(240, 6%, 96%),
  muted-foreground: hsl(240, 6%, 46.1%),
  border: hsl(240, 2%, 89%),
  primary: hsl(342, 100%, 47%),
  primary-foreground: hsl(240, 4%, 98%),
  secondary: hsl(240, 6%, 96%),
  secondary-foreground: hsl(240, 2%, 17%),
  accent: hsl(240, 6%, 96%),
  accent-foreground: hsl(240, 2%, 17%),
  destructive: hsl(342, 100%, 47%),
  destructive-foreground: hsl(240, 7%, 11%),
  positive: hsl(162, 52%, 53%),
  positive-foreground: hsl(240, 7%, 11%)
);
