$layout-post-single-width: 59.0625rem;
$layout-post-width: 40rem;
$layout-gap: 1.875rem;
$layout-width: 66.875rem;
$layout-breakpoint-sm: 42.8125rem;
$layout-breakpoint-md: 60rem;
$layout-breakpoint-lg: 68.75rem;
