@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.page {
  grid-column: span 12;
  @include mixins.margin-bottom(2);
  @include mixins.padding(1, 0.75, 0);
  font-size: variables.$typography-base-font-size;
  @include mixins.line-height(1);

  > section ul {
    @include mixins.content-list-square;
  }

  > section ol {
    @include mixins.content-list-numbered;
  }

  > :last-child {
    @include mixins.margin-bottom(1);
  }

  .title {
    font-weight: 600;
    font-size: variables.$typography-base-font-size * 2.5;
    @include mixins.line-height(2);
    @include mixins.margin-top(0);
    @include mixins.margin-bottom(1.45);
  }
}

@include mixins.breakpoint-sm {
  .page {
    grid-column: span 7;
    @include mixins.padding(1.25, 0.75, 0);
  }
}

@include mixins.breakpoint-lg {
  .page {
    grid-column: span 8;
    @include mixins.padding(1.5, 1, 0);
  }
}
