@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.pagination {
  display: flex;
  @include mixins.margin-top(2);

  .label {
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }

  .previousLink {
    color: hsl(var(--color-foreground));
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    gap: 10px;
    justify-content: flex-start;
    line-height: 30px;
    width: 50%;

    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 10px;
      background-color: currentColor;
      mask: var(--icon-arrow) center / contain no-repeat;
      transform: scaleX(-1);
    }

    &:hover,
    &:focus {
      color: hsl(var(--color-primary));
    }

    &.disable {
      color: hsl(var(--color-muted-foreground));
      pointer-events: none;
    }
  }

  .nextLink {
    color: hsl(var(--color-foreground));
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    gap: 10px;
    justify-content: flex-end;
    line-height: 30px;
    width: 50%;

    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 10px;
      background-color: currentColor;
      mask: var(--icon-arrow) center / contain no-repeat;
    }

    &:hover,
    &:focus {
      color: hsl(var(--color-primary));
    }

    &.disable {
      color: hsl(var(--color-muted-foreground));
      pointer-events: none;
    }
  }
}
