@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.pagination {
  display: flex;
  @include mixins.margin-top(2);

  .previousLink {
    color: hsl(var(--color-foreground));
    display: block;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    width: 50%;

    &:hover,
    &:focus {
      color: hsl(var(--color-primary));
    }

    &.disable {
      color: hsl(var(--color-muted-foreground));
      pointer-events: none;
    }
  }

  .nextLink {
    color: hsl(var(--color-foreground));
    display: block;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    text-align: right;
    width: 50%;

    &:hover,
    &:focus {
      color: hsl(var(--color-primary));
    }

    &.disable {
      color: hsl(var(--color-muted-foreground));
      pointer-events: none;
    }
  }
}
